/* Start header */

body.stop-scroll {
  overflow: hidden;
}

header {
  color: white;
  overflow: hidden;
  user-select: none;
  padding-top: 100px;
}

header .background {
  background-color: var(--background-dark);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
  overflow: hidden;
}

header .background img {
  object-fit: cover;
  opacity: 0.3;
  mix-blend-mode: luminosity;
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  transition: var(--main-transition);
  padding: 15px 0;
  z-index: 999;
}

header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo img {
  width: 248.83px;
  max-width: 100%;
}

header nav .bars,
header nav .close {
  display: none;
  font-size: 35px;
  transition: var(--main-transition);
  cursor: pointer;
}

header nav .bars:hover {
  color: var(--alt-text-dark);
}

header nav .close {
  font-size: 40px;
}

header nav ul {
  display: flex;
  gap: 38px;
  font-size: 20.88px;
  font-weight: 600;
  line-height: 31.32px;
  text-transform: capitalize;
}

header nav ul span {
  display: none;
}

header nav li a {
  transition: color var(--main-transition);
}

header nav li a:hover:not(a.active:hover) {
  color: var(--alt-text-dark);
}

header nav li a.active {
  background-color: var(--alt-text-dark);
  border-radius: 8px;
  padding: 5px 10px;
}

header nav.sticky {
  background-color: #021426;
}

header .landing {
  padding: var(--section-padding) 0;
}

header .landing .container {
  text-transform: uppercase;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .landing .content .text {
  font-size: 60px;
  font-weight: 600;
  line-height: 91.02px;
  width: 648px;
  max-width: 100%;
  margin-bottom: 20px;
}

header .landing .buttons a {
  padding: 8.5px 20.4px;
  border-radius: 11.9px;
  font-size: 22.19px;
  font-weight: 600;
  border: 0.85px solid #ffffff;
  transition: background-color var(--main-transition),
    border-color var(--main-transition), color var(--main-transition);
}

header .landing .buttons a:first-child {
  color: var(--background-dark);
  background-color: white;
  margin-right: 15px;
}

header .landing .buttons a:hover {
  background-color: var(--alt-text-dark);
  border-color: var(--alt-text-dark);
  color: white;
}

header .landing .atom img {
  width: 570px;
  max-width: 100%;
}

@media (max-width: 1400px) {
  header .landing .content .text {
    font-size: 40.99px;
    line-height: 61.49px;
  }
}

@media (max-width: 1200px) {
  header .landing .container {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
  }

  header .landing .atom img {
    width: 500px;
  }
}

@media (max-width: 992px) {
  header nav .container {
    gap: 10px;
    position: relative;
  }

  header nav ul {
    background-color: var(--alt-text-dark);
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    gap: 40px;
    font-size: 30px;
    font-weight: 500;
    transition: var(--main-transition);
    line-height: 40px;
    overflow: hidden;
  }

  header nav ul.active {
    right: 0;
  }

  header nav ul span {
    display: block;
    height: 121px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    border-bottom: 4px solid white;
    font-size: 35px;
  }

  header nav li {
    padding: 0 50px;
  }

  header nav li a:hover {
    color: white !important;
  }

  header nav.sticky li a.active {
    background-color: var(--alt-text-dark);
    color: white;
  }

  header nav li a.active {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }

  header nav .bars {
    display: block;
  }

  header nav ul .close {
    display: block;
    position: absolute;
    top: calc(121px / 2);
    transform: translateY(-50%);
    right: 50px;
    z-index: 999;
  }

  header nav .bars input:checked {
    right: 0;
  }

  header .landing .buttons a {
    font-size: 17.5px;
  }
}

@media (max-width: 768px) {
  header {
    padding-top: 80px;
  }

  header nav .logo img {
    width: 150px;
  }

  header nav ul .close {
    right: 20px;
  }

  header nav ul li,
  header nav ul span {
    padding: 0 20px;
  }

  header nav .bars {
    font-size: 23px;
  }

  header .landing {
    padding: 15px 0 30px;
  }

  header .landing .container {
    gap: 15px;
  }

  header .landing .content .text {
    font-size: 25.11px;
    line-height: 37.67px;
    width: 100%;
  }

  header .landing .buttons a {
    display: block;
    max-width: 100%;
    font-size: 15px;
  }

  header .landing .buttons a:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }

  header .landing .atom img {
    width: 300px;
  }
}

/* End header */

/* Start info */

.info .cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.info .card {
  padding: 40px 0;
  background-color: var(--cards-dark);
  border-radius: var(--border-radius-card);
  font-size: 30px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color var(--main-transition),
    box-shadow var(--main-transition), transform var(--main-transition);
}

.info .card:hover {
  background-color: var(--alt-text-dark);
  box-shadow: 0 4px 82.8px 17px #fc7e003d;
  transform: scale(0.989);
}

.info .card .icon {
  font-size: 45px;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .info h2 {
    font-size: 30.9px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .info p {
    font-size: 11.78px;
    font-weight: 500;
    line-height: 17.67px;
  }

  .info .card {
    font-size: 25px;
  }

  .info .card .icon {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .info h2 {
    font-size: 20.16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .info p {
    font-size: 12.5px;
    font-weight: 400;
    line-height: 20px;
  }

  .info .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .info .card {
    padding: 20px 0;
    font-size: 21.34px;
  }

  .info .card .icon {
    font-size: 30px;
    margin-bottom: 5px;
  }
}

/* End info */

/* Start community */

.community .container {
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: left;
}

.community img {
  width: 514px;
  max-width: 100%;
  border-radius: var(--border-radius-image);
}

.community .description {
  width: 700px;
}

.community .description p {
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
}

@media (max-width: 1400px) {
  .community .description h2 {
    font-size: 38px;
  }

  .community .description p {
    font-size: 23px;
    line-height: 35px;
  }
}

@media (max-width: 1200px) {
  .community .description h2 {
    font-size: 33px;
  }

  .community .description p {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 992px) {
  .community .container {
    flex-direction: column;
    text-align: center;
  }

  .community .description {
    width: 100%;
  }
}

/* End community */

/* Start stats */

.stats {
  background-color: white;
  color: var(--alt-text-dark);
  padding: 50px 0;
  text-align: center;
}

.stats .container {
  display: flex;
  justify-content: space-around;
}

.stats .container > div {
  font-size: 69.83px;
  font-weight: 600;
}

.stats .container > div span {
  display: block;
  font-size: 30px;
}

@media (max-width: 992px) {
  .stats .container > div {
    font-size: 50px;
  }

  .stats .container > div span {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .stats .container {
    flex-direction: column;
    gap: 50px;
  }
}

/* End stats */

/* Start activities */

.activities {
  background-color: var(--background-dark);
  background-image: url(../images/pattern.png);
  background-attachment: fixed;
  padding: 0;
}

.activities h2 {
  padding-top: 100px;
}

.activities .activities-des {
  margin-bottom: 100px;
}

/* Start videos */

.activities .videos h3 {
  margin-bottom: 80px;
}

.activities .videos .videos-container {
  display: flex;
  justify-content: space-around;
}

.activities .videos .videos-container .video-wrapper {
  width: 250px;
  height: 450px;
  border-radius: 25px;
  overflow: hidden;
  background-color: var(--cards-dark);
}

@media (max-width: 992px) {
  .videos .video-wrapper:not(:first-of-type) {
    display: none;
  }
}

/* End videos */

/* Start asteroids */

.asteroids {
  padding-top: 200px;
}

.asteroids .container {
  display: flex;
  gap: 50px;
  align-items: center;
}

.asteroids .asteroids-image {
  position: relative;
}

.asteroids .asteroids-image .cover {
  border-radius: var(--border-radius-image);
  max-width: 100%;
}

.asteroids .asteroids-image .asteroid-png {
  position: absolute;
  top: -140px;
  left: -100px;
  width: 440px;
  transform: rotate(-73.07deg);
}

.asteroids .description {
  text-align: left;
  width: 700px;
}

.asteroids .description p {
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
}

@media (max-width: 1400px) {
  .asteroids .description h3 {
    font-size: 38px;
  }

  .asteroids .description p {
    font-size: 23px;
    line-height: 35px;
  }
}

@media (max-width: 1200px) {
  .asteroids .description h3 {
    font-size: 33px;
  }

  .asteroids .description p {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 992px) {
  .asteroids .container {
    flex-direction: column;
  }

  .asteroids .description {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .asteroids {
    padding-top: 120px;
  }

  .asteroids .asteroids-image .asteroid-png {
    width: 300px;
    top: -100px;
    left: -50px;
  }
}

/* End asteroids */

/* Start articles */

.activities .articles .article-box {
  border-radius: 60px;
  box-shadow: 22.27px -22.27px 22.27px 0px #a5a5a528 inset,
    -22.27px 22.27px 22.27px 0px #ffffff28 inset;
  background: #d9d9d928;
  max-width: 100%;
  width: 950px;
  min-height: 242px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 40px;
  padding: 30px;
  position: relative;
}

.activities .articles .article-box::before {
  content: "";
  width: 50vw;
  height: 1px;
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    to right,
    white 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: center;
  background-size: 30px 1px;
  background-repeat: repeat-x;
}

.activities .articles .article-box::after {
  content: "";
  width: 50vw;
  height: 1px;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  background-image: linear-gradient(
    to right,
    white 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: center;
  background-size: 35px 1px;
  background-repeat: repeat-x;
}

.activities .articles .article-box p {
  max-width: 700px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.activities .articles .full-article {
  padding: 9px 21px;
  border-radius: 11px;
  box-shadow: -22.27px 22.27px 22.27px 0px #ffffff28 inset,
    22.27px -22.27px 22.27px 0px #a5a5a528 inset;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  transition: var(--main-transition);
}

.activities .articles .full-article:hover {
  background-color: var(--alt-text-dark);
}

@media (max-width: 768px) {
  .activities .articles .article-box {
    border-radius: var(--border-radius-image);
    margin-top: 50px;
  }

  .activities .articles .article-box::after,
  .activities .articles .article-box::before {
    display: none;
  }
}

/* End articles */

/* End activities */

/* Start Footer */
footer {
  background-color: var(--footer-dark);
  padding: var(--section-padding) 0 50px;
  color: white;
}

footer .container {
  display: flex;
}

footer .container .info {
  flex: 1;
  position: relative;
  padding-right: 70px;
}

footer .container .info h3 {
  font-weight: 600;
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

footer .container .info p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

footer .container .info .social {
  display: flex;
  gap: 15px;
}

footer .container .info .social i {
  font-size: 25px;
  cursor: pointer;
  transition: var(--main-transition);
}

footer .container .info .social i:hover {
  color: var(--background-dark);
}

footer .container .contact {
  position: relative;
  flex: 1;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer .container .contact::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 90%;
  left: -1.5px;
  bottom: 0;
  background-color: white;
}

footer .container .contact h3 {
  font-weight: 600;
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

footer .container .contact input:not([type="submit"]),
footer .container .contact textarea {
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-weight: 500;
}

footer .container .contact input:not([type="submit"])::placeholder,
footer .container .contact textarea::placeholder {
  font-size: 15.54px;
  font-weight: 500;
  line-height: 23.3px;
}

footer .container .contact input[type="submit"] {
  padding: 9px 21px;
  border-radius: 5px;
  width: fit-content;
  font-weight: 600;
  border: none;
  font-size: 18px;
  color: var(--footer-dark);
  transition: var(--main-transition);
  cursor: pointer;
}

footer .container .contact input[type="submit"]:hover {
  background-color: var(--background-dark);
}

footer .container .contact textarea {
  resize: none;
  min-height: 200px;
}

@media (max-width: 992px) {
  footer .container {
    flex-direction: column;
  }

  footer .container .info {
    text-align: center;
    padding-right: 0;
    padding-bottom: 70px;
  }

  footer .container .contact {
    padding-left: 0;
  }

  footer .container .contact::before {
    display: none;
  }

  footer .container h3,
  footer .container .info .social,
  footer .container .contact {
    justify-content: center;
    align-items: center;
  }

  footer .container .contact input[type="submit"] {
    width: 100%;
  }
}

footer .logo {
  text-align: center;
  margin-top: 100px;
}

footer .logo img {
  max-width: 300px;
}

@media (max-width: 768px) {
  footer .logo img {
    max-width: 200px;
  }
}

/* End Footer */
